*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body, p, input, button{
    font-family: 'DM Sans', sans-serif;
}

body{
    display: grid;
    place-items: center;

    font-size: 1.6rem;
    height: 100vh;
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
}

.hide{
    display: none;
}

main{

    width: min(500 - 90%);
    text-align: center;
    padding: 4.8rem 6.4rem 6.4rem;
    margin-top: -12rem;
    background: #FFFFFF;
    border-radius: .6rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    color: #34355B;
    margin-bottom: 1.6rem;
}

p{
    color: #34355B;
    line-height: 150%;
    opacity: .80;
    margin-bottom: 4.8rem;
}

form{
    display: flex;
    justify-content: center;
}

input{
    width: 7rem;
    padding: 1.6rem;
    border: 0;
    border-radius: .4rem 0 0 .4rem;
    background: #DCE2E9;

    color: #34355B;
}

button{
    padding: 1.6rem;
    border: 0;
    border-radius: 0 .4rem .4rem 0;
    font-weight: 700;
    background: #7879F1;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: rgb(67, 67, 117);
}

.screen2 h2{
    font-size: 2.4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    line-height: 150%;
}

.screen2 button{
    border-radius: .4rem;
    margin-top: 3.3rem;
}